# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
docs
out-tsc
tmp

# dependencies
node_modules

# IDEs and editors
*.iml
*.launch
*.sublime-workspace
.c9
.classpath
.idea
.project
.settings

# IDE - VSCode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode/*

# misc
*.lock
*.log
.sass-cache
coverage
typings

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db
