:host /deep/

  .mat-radio-group
  .mat-form-actions
  .mat-form-controls
    margin-left -7.5px
    margin-right -7.5px
    box-sizing border-box
    width 100%

  .mat-radio-button
  .mat-form-actions > *
  .mat-form-controls > *
    padding-left 7.5px
    padding-right 7.5px
    max-width 100% !important
    width auto

  .mat-form-actions > *
  .mat-form-controls > *
  .mat-radio-button.small
    margin-bottom 10px

.mat-form-actions
  &
    margin-bottom 20px
  & > *
    display inline-block
