:host /deep/

  .mat-form-actions
  .mat-form-controls
  .mat-radio-group
    margin-left -7.5px
    margin-right -7.5px
    box-sizing border-box
    width 100%

  .mat-form-actions > *
  .mat-form-controls > *
  .mat-radio-button
    padding-left 7.5px
    padding-right 7.5px
    margin-bottom 15px
    width auto

.mat-form-actions
  &
    margin-bottom 20px
  & > *
    display inline-block
