.mat-card
  &
    position relative
    padding 50px !important
    margin 5vh
  .mat-card-title
    font-size 36px

.mat-error-section
  color red
  margin-bottom 15px

.mat-input-container
  margin-bottom 15px
  width 100%

label
  margin-bottom -15px
  display block

.row
  margin-bottom 15px

.mat-spinner
  width 7vw !important

.languages
  text-align center
