:host
  margin-top 10px

button
  &
    color #000
    font-size inherit
    text-align center
    text-decoration none
    border-radius 2px
    box-sizing border-box
    margin-right 10px
    padding 5px 7px
    display inline-block
    min-width 30px
    cursor pointer
  &:hover
    background #eee
  &.table-pages-current
    &
    &:hover
      background #000
      color #fff
  &.table-pages-disable
    &
    &:hover
      color #ccc
      background transparent
      cursor not-allowed
  &.table-pages-prev
  &.table-pages-next
    padding 5px 10px

ul
  &
    list-style-type none
  li
    display inline-block
