:host
  &
    font-weight 400
  &.table-cell-head
    white-space nowrap
    cursor pointer
  &.table-cell-right
    text-align right
  &.table-cell-left
    text-align left

div
  padding 10px 15px
  text-overflow ellipsis
  overflow hidden

i
  font-size 1.2rem
  margin-left 3px
