:host
  &
    font-weight 400
    white-space nowrap
  &.table-cell-head
    &
    button
      cursor pointer
      color #fff
  &.table-cell-head
  &.table-cell-icon
    & > div
    & > button
      padding-right 30px
  &.table-cell-right
    & > div
    & > button
      text-align right
  &.table-cell-left
    & > div
    & > button
      text-align left

div
button
  overflow hidden
  text-overflow ellipsis
  position relative
  box-sizing border-box
  padding 10px 15px
  display block
  width 100%

button
  font-size inherit
  background transparent
  cursor pointer

.ico
  color inherit
  font-size 1.2rem
  position absolute
  right 0
  top 0
  padding 12px 10px
  margin 0
  width auto
