:host
  &
    font-weight 400
    white-space nowrap
  &.table-cell-head
    cursor pointer
  &.table-cell-click i
    position absolute
    padding-right 10px
    padding-top 4px
    right 0
  &.table-cell-right
    div
    button
      text-align right
  &.table-cell-left
    div
    button
      text-align left

div
button
  overflow hidden
  text-overflow ellipsis
  position relative
  box-sizing border-box
  padding 10px 15px
  display block
  width 100%

button
  font-size inherit
  background transparent
  color #fff
  cursor pointer

i
  font-size 1.2rem
  margin-left 3px
