.mat-aria-txt
  font-size 0

.mat-card
  &
    position relative
    padding 50px !important
    margin 5vh
  .mat-card-title
    font-size 3.6rem
    margin-bottom 30px

.mat-spinner
  &
    height 7vw !important
    width 7vw !important
  svg
    height 100% !important
    width 100% !important

.mat-error-section
  margin-bottom 20px
  color kuwas-red

.mat-tooltip
  background kuwas-black
