.flex-wrapper
  width calc(100%+30px)

.flex-block
  margin-bottom 30px
  margin-right 30px

.flex-subblock
  margin-bottom 30px

.mat-card
  &
    position relative
    padding 50px !important
    margin 5vh
  .mat-card-title
    font-size 3.6rem

.mat-spinner
  width 7vw !important
