@import '../../../assets/styles/var'

:host
  margin-bottom 30px

:host /deep/

  /* block */

  .mat-checkbox
  .mat-select-container
  .mat-input-container
    margin-bottom 10px
    display block

  .mat-radio-group
    display block

  .mat-radio-button
    margin-right 10px
    margin-bottom 10px

  /* label */

  label
  .mat-radio-label
  .mat-checkbox-label
    white-space normal

  /* field */

  .mat-form-field
    width 100%

  .mat-form-field-wrapper
    width calc( 100% - 20px )

  .mat-form-field-infix
    padding 0
    border 0

  .mat-input-invalid
    .mat-icon svg
      fill kuwas-red

  /* input */

  .mat-input-wrapper
    padding-bottom 0

  .mat-input-element
  .mat-input-placeholder
    padding 10px 0
    box-sizing border-box

  .mat-input-placeholder
    position relative
    left auto
    top auto

  .mat-input-underline
    bottom auto

  .mat-input-prefix
  .mat-input-suffix
    padding 7px 0
    position absolute
    top 0

  .mat-input-prefix
    left 0

  .mat-input-suffix
    right 0

  /* select */

  .mat-select-trigger
    padding 10px 0
    box-sizing border-box
    height auto

  .mat-select-arrow-wrapper
    padding 6px 0

/* label */

label
  &
    margin-bottom 10px
    display inline-block
    cursor pointer
  i
    margin-left 5px

/* error */

.mat-error
  div
    margin-bottom 5px
  div:last-child
  &.small
    margin 0
