:host
  margin-bottom 35px

:host /deep/

  /* label */

  label
  .mat-radio-label
  .mat-checkbox-label
    white-space normal

  /* animation */

  /*
  .mat-radio-ripple
  .mat-checkbox-ripple
    display none
  */

  /* field */

  .mat-form-field
    width 100%

  .mat-form-field-infix
    padding 0
    border 0

  .small
    .mat-checkbox
    .mat-radio-button
    .mat-select-container
    .mat-input-container
      margin-bottom 10px

  /* input */

  .mat-input-wrapper
    padding-bottom 0

  .mat-input-element
  .mat-input-placeholder
    padding 10px 0
    box-sizing border-box

  .mat-input-placeholder
    position relative
    left auto
    top auto

  .mat-input-underline
    bottom auto

  .mat-input-prefix
  .mat-input-suffix
    padding 7px 0
    position absolute
    top 0

  .mat-input-prefix
    left 0

  .mat-input-suffix
    right 0

  /* select */

  .mat-select-trigger
    padding 10px 0
    box-sizing border-box
    height auto

  .mat-select-arrow-wrapper
    padding 7px 0

/* Group */

.mat-radio-group
.mat-form-controls
  &
    margin-left -7.5px
    margin-right -7.5px
    box-sizing border-box
    width 100%
  & > *
    padding-left 7.5px
    padding-right 7.5px
    box-sizing border-box
    max-width 100% !important
    width auto

/* label */

label
  &
    margin-bottom 10px
    display inline-block
    cursor pointer
  i
    margin-left 5px

/* error */

.mat-error
  &
    margin-top 10px
  div
    margin-bottom 5px
  div:last-child
  &.small
    margin 0
